# Virtual environments

venv/
venv_linux/

# Python

__pycache__/
*.pyc

# Environment variables

.env

# Airflow logs

airflow/logs/

# dbt artifacts

dbt/logs/
dbt/target/
dbt/**/logs/
dbt/**/target/
dbt/.user.yml
dbt/profiles.yml

# Generated data artifacts

data/processed/
data/checkpoints/

# Spark artifacts

*.crc
_SUCCESS

# Screenshots

screenshots/

# IDE

.vscode/
.idea/

# OS

.DS_Store
